.head {
 background-color: #F1F3F9;
}

.hind-font {
  font-family: "Hind", sans-serif;
}

.name {
  padding-top: 40px;
  padding-left: 60px;
  margin-bottom: 40px;
}

h1 {
  color: #012241;
  font-size: 26px;
}

span {
  color: #ffc200;
}

.contact {
  font-size: 15px;
  color: #707070;
}

.button-1 {
  background-color: #ffc200;
  color: #012241;
  width: 126px;
  height: 40px;
  border-radius: 30px;
  margin-top: -12px;
}

.list {
  color: #012241;
}

.numbers {
  color: #012241;
}

.image {
  height: 472px;
  width: 314px;
}

.button-2 {
  background-color: #ffc200;
  color: #012241;
  width: 126px;
  height: 40px;
  border-radius: 30px;
}

.container-a {
  margin-left: 181px;
}

.p {
  color: #707070;
}

p {
  color: #707070;
}

.kim {
  font-size: 35px;
  color: #012241;
}

.container-b {
  margin-top: 68px;
  margin-right: 200px;
}

.lang {
  margin-top: -45px;
  color: #012241;
  margin-right: 154px;
  margin-left: 600px;
  margin-bottom: 73px;
}

.link {
  color: #012241;
  font-size: 22px;
  margin-left: 207px;
}

.contact-info-pics {
  border: 1px solid #ffffff;
  background-color: #f1f3f9;
}

button:hover{
  background: #ffffff;
  color: #012241;
  opacity: 70%;
}

a {
  color: #707070;
}

.right {
 background-color: #012241;
 color: #ffffff;
 height: 61px;
 font-size: 18px;
}

.info {
  height: 92px;
  margin-top: 104px;
}

.all {
  color: #012241;
  font-size: 18px;
}